body {
    margin: 0px;
    padding: 10px 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
}
header {
    max-width: 1200px;
    height: 270px; 
    margin:auto;
    margin-bottom: 10px;
    text-align: center;
    background-image: url("../img/site_header_bg_image.jpg");
    background-repeat: repeat;
    background-size: 600px 291px;
    background-color: black;
    background-position: center;
}
header div{
    margin:0px;
    display: block;
	background-image: linear-gradient(to bottom, rgba(235, 235, 235, 0.3), rgba(235, 235, 235, 0.3));
    width: inherit;
    height: inherit;
}
header h1{
    margin-top:120px;
    font-size: 2.8rem;
    width: max-content;
    height: min-content;
    line-height: inherit;
    display: inline-block;
    background-color: rgba(235, 235, 235,1);
    color: rgb(40, 40, 40);
    border-radius: 5px;
    padding:1px 3px;
}
nav {
    max-width: 1200px;
    margin:auto;
    background-color: black;
    min-height: 50px;
    
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
nav li{
    display: inline;
    flex: 1 0 150px;
    text-align: center;    
}
nav li a{
    text-decoration: none;
    font-size: large;
    color:white;
    line-height: 50px;
    
}
.nav2{
    margin: 20px auto;
    max-width: 1200px;
    border: 0px solid red;
    height: 24px;
    line-height: 40px;
    text-align: center;
}
.nav2 h2{
    margin:0 auto;
    display: inline;
    color: rgb(40, 40, 40);
}
footer{
    background-color: black;
    color: rgb(240, 240, 240);
    min-height: 130px;
    max-width: 1200px;
    margin:auto;
    padding: 10px 0px 10px;
    font-size:0.7em ;
}
.footer-container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
    margin: 0 100px;
}
.footer-column{
    color: inherit;
    flex: 0 1 180px;
    
}
.column-title{
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 18px;
}
.column-list{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.column-list li{
    margin:18px 0px;
}
.column-list a{
    text-decoration: none;
    color: rgba(235, 235, 235,0.5);
}

/*  Home Page   */
.main-home{
    min-height: 400px ;
    max-width: 1200px;
    margin: 50px auto;
    padding-left: 200px;

}
.main-home h3{
    font-weight: 500;
    font-size: 22px;
}
.main-home p{
    line-height: 30px;
}
@media only screen and (max-width: 1200px) {
    .main-home{
        padding: 0 100px;
    }  
}
@media only screen and (max-width: 751px) {
    .main-home{
        padding: 0 20px;
    }  
}

/*  allBooks.html   */
.grid-books{
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 5px;
}
.aside-books{
    padding-bottom: 15px;
    background-color: black;
    color: rgb(240, 240, 240);
    height: min-content;
    min-width: 190px;
    border-radius: 5px;
    margin-top: 20px;
}
.aside-books h2{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 10px;
}
.aside-books hr {
    width: 60%;
    margin-bottom: 0;
}
.aside-books ul{
    list-style-type: none;
    padding: 0;
    margin:0;
    text-align: center;
    height: 290px;
    
}
.aside-books li a{
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
    line-height: 58px;
}

.article-container {
    padding: 20px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    /* grid-template-rows: repeat(2,350px); */
    grid-auto-rows: minmax(350px, auto);
    grid-gap: 30px ;
    
}
.article-container div{
    padding: 0;
    margin: 0;
    max-width: 300px;
    color: royalblue;
    text-align: center;
    line-height: 100px;
    background-color:rgb(240, 156, 94);
    border-radius: 5px;
}

/* contact-Form html*/ 
.article-contact{
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;

}
@media only screen and (max-width: 900px) {
    .article-contact{
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-auto-rows: minmax(auto, auto);
    }
    .contact-form{
        margin:auto;
        padding: 0 10px;        
    }
    .contact-info{
        margin: auto;
    }
    .contact-form div{
        max-width: 500px;
    }
}
.contact-form{
    max-width: 800px;
    padding-left: 10px;

}
.contact-form div{
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 600px;
}
.contact-form h2{
    margin-bottom: 20px;
}
.contact-form hr{
    width: 95%;
    display: inline-block;
    margin-top: 0;
    margin-bottom:10px;
}
.contact-form h3{
    margin: 10px 0px;
    font-size: 20px;
}
.fields {
     font-size: 20px; 
     width:47%;
    }
#firstname{
    margin-right: 12px;
}
.fields2 {
    font-size: 20px; 
    width:98%; 
    
   }
#subject {
    width: 98%;
    min-height: 150px;
    font-size: 20px;
    padding: 5px;
}
#submit-button { 
    background-color: rgb(218, 93, 51); 
    border: none; 
    font-size: 17px; 
    color: white; 
    border-radius: 4px; 
    padding: 5px 17px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 110px;
}
.contact-info-list{
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
    
}
.contact-info-list li{
    color:rgb(40, 40, 40);
    margin: 10px 0px;
}
.contact-info-list a{
    text-decoration: none;
    color:inherit;
    
}
.contact-inf-list li:first-child,.contact-info li:nth-child(3){
    margin-top: 40px;
}

