    {{> header }} 
    <div class="nav2"><h2>Βιβλία</h2>
    </div>
    <main class="grid-books">
        <aside class="aside-books">
            <h2>Κατηγορίες</h2>
            <hr>
            <ul>
                <li><a href=""> Kati 1 </a></li>
                <li><a href=""> kati 2 </a></li>
                <li><a href=""> kati 3 </a></li>
                <li><a href=""> kati 4 </a></li>
                <li><a href=""> kati 5 </a></li>
            </ul>
        </aside>
        <article class="article-books" id="mytable">
            <tbody>
         
        
        
      
          
            <div class="article-container">
              {{#each results}}
                <div> 
                  <a href="/book/{{book_id}}" title="{{book_title}}"><img src="{{book_cover}}" alt="{{book_title}}" class="img-thumbnail"></a>
                </div>
              {{/each}}
            </div>
          </tbody>
        </article>
    </main>
    
    {{> footer }} 