 {{> header }} 
 
 {{#if user.displayName}} 
   <p>Hello, {{user.displayName}} . View your <a href="/account">account</a>.</p>
 {{else}}
   <p>Welcome! Please <a href="/login">log in</a>.</p>
 {{/if}}

{{> footer }} 

	

	

