    {{> header }} 
    <div class="nav2"><h2>Αρχική Σελίδα</h2>
    </div>

    <!--   %%%%%%%%%%   εδω θα μπει καποια εικονα στην αρχικη με το κειμενο   %%%%%%%%%%   -->
    
    <main class="main-home">

       <h3>Καλώς ήρθατε στην ιστοσελίδα μας!</h3>
       <p>Ειμαστε ο Γιώργος και ο Σπύρος και εδώ θα σας παρουσιάσουμε την ιστοσελίδα μας. <br>
           Μπορείτε να χρησιμοποιήσετε το Menu που βρίσκεται πάνω για να περιηγηθείτε. <br>
            Στην ιστοσελίδα μας έχετε την ευκαιρία να δείτε όλα τα βιβλία του οίκου μας. <br>
            Το πιο σημαντικό όμως είναι ότι έχετε την δυνατότητα να μας στείλετε τις δικές σας δημιουργίες, <br>
            δίνοντας την ευκαιρία σε κάποιον να κάνει το όνειρο του πραγματικότητα και να δημοσιεύσουμε το έργο του. <br>
       </p>
       
    </main>
    {{> footer }} 