    {{> header }} 

      <main class="main-home">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src='https://www.google.com/maps/embed/v1/search?q=%CE%92%CE%B9%CE%B2%CE%BB%CE%B9%CE%BF%CF%80%CF%89%CE%BB%CE%B5%CE%AF%CE%B1%20%CE%A0%CE%AC%CF%84%CF%81%CE%B1&key=AIzaSyAnLbdKPMTid6JCtnxn_YNAirfzeKAkJLY' width='600' height='450' frameborder='0' style='border:0'></iframe>
        </div>          
      </main>
    {{> footer }} 