/* contact-Form html*/ 
.article-contact{
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

@media only screen and (max-width: 767px) {
    .article-contact{
        grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
        grid-auto-rows: minmax(auto, auto);
    }
    .contact-form{
        margin:auto;
        padding: 0 10px;        
    }
    .contact-info{
        margin: auto;
    }
    .contact-form div{
        max-width: 400px;
    }
    .fields1{
        max-width: 46%;
    }

}

@media only screen and (max-width: 480px) {
    .article-contact{
        grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
        grid-auto-rows: minmax(auto, auto);
    }
    .contact-form{
        margin:0;
        padding: 0 10px;        
    }

}

label{
    display: inline;
}
.contact-form{
    max-width: 800px;
    padding-left: 10px;

}
.contact-form div{
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 600px;
}
.contact-form h2{
    margin-bottom: 20px;
}
.contact-form #hr{
    height: 6px;
}
.contact-form hr{
    width: 95%;
    display: inline-block;
    margin-top: 0;
    margin-bottom:0px;
    height: 0;
}
.contact-form h3{
    margin: 10px 0px;
    font-size: 20px;
    display: inline-block;
}
.contact-form span{
    font-style: italic;
    font-size: 0.7em;
}
.contact-form legend{
    font-style: italic;
    font-size: 0.7em;
    color: red;
    margin-bottom: 5px;
}
.fields {
     font-size: 20px; 
     width:47%;
   
    }
#firstname{
    margin-right: 12px;
}
.fields2 {
    font-size: 20px; 
    width:98%; 
    
   }
#subject {
    width: 98%;
    min-height: 150px;
    font-size: 20px;
    padding: 5px;
    font-family: inherit;
}
#submitButton { 
    background-color: rgb(218, 93, 51); 
    border: none; 
    font-size: 17px; 
    color: white; 
    border-radius: 4px; 
    padding: 5px 17px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 110px;
    cursor: pointer;
}
#submitButton:disabled{
    background-color: rgb(211, 139, 115);
}
.contact-info-list{
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
    margin-top: 30px;
}
.contact-info-list li{
    color:rgb(40, 40, 40);
    margin: 10px 0px;
}
.contact-info-list a{
    text-decoration: none;
    color:inherit;
    
}
.contact-inf-list li:first-child,.contact-info li:nth-child(3){
    margin-top: 30px;
}
