.card{
    margin-top: 30px;
    margin-bottom: 100px;
    z-index: 0;
    max-width: 1000px;
    margin: 30px auto 100px;
    background-color: rgb(230, 230, 230);

}
.card-body{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.col-form-label{
    font-size: 20px;
}
.form-control{
    margin-top: 7px;
}
legend{
    font-style: italic;
    font-size: 0.7em;
    color: red;
    margin: 0;
}
.myPswdLegend{
    font-style: italic;
    font-size: 0.6em;
    text-align: center;
}
form div:nth-child(4),form div:nth-child(1){
    margin-bottom: 0;
}
#submit-button{
    align-items: center;
}
