body {
    margin: auto;
    padding: 10px 0px 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color:  rgb(240, 240, 240);
    min-height: 100%;
}

header {
    max-width: 1200px;
    height: 270px; 
    margin:auto;
    margin-bottom: 10px;
    text-align: center;
    background-image: url("../img/site_header_bg_image.jpg");
    background-repeat: repeat;
    background-size: 600px 291px;
    background-color: black;
    background-position: center;
}
header div{
    margin:0px;
    display: block;
	background-image: linear-gradient(to bottom, rgba(240, 240, 240, 0.3), rgba(240, 240, 240, 0.3));
    width: inherit;
    height: inherit;
}
header h1{
    margin-top:120px;
    font-size: 2.8rem;
    width: max-content;
    height: min-content;
    line-height: 50px;
    display: inline-block;
    background-color: rgba(240, 240, 240,1);
    color: rgb(40, 40, 40);
    border-radius: 5px;
    padding:1px 3px;
    font-weight: 600;
}

footer{
    background-color: black;
    color: rgb(240, 240, 240);
    min-height: 130px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0px 10px;
    font-size:0.8em ;
}
.footer-container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
    margin: 0 100px;
}
.footer-column{
    color: inherit;
    flex: 0 1 180px;
    
}
.column-title{
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 18px;
}
.column-list{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.column-list li{
    margin:18px 0px;
}
.column-list a{
    text-decoration: none;
    color: rgba(240, 240, 240,0.5);
}

/*  Home Page   */
.main-home{
    min-height: 400px ;
    max-width: 1200px;
    margin: 50px auto;
    
}
.main-home h3{
    padding: 0px 10px;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}
.main-home p{
    line-height: 30px;
    padding: 0px 10px;
    text-align: center;
}

/* welcome page after register */
#welcomeSign{
    height: 200px;
    margin: 30px auto;
}
#welcomeSignDiv{
    width: 100%;
    text-align: center;
}
hr{
    margin: 0 auto;
    width: 90%;
}
hr:last-child{
    display: none;
}
.container{
    max-width: 1200px;
    min-height: 610px;
}
.adminHeader{
    display: block;
    width: 100%;
    margin-top: 30px;
    text-align: center;

}